@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;

}/* this is reseting */

#logo{
    display: flex;
    color: black;
    align-items: center;
    margin: 0px 14px;
    
}
#logo img{

    height: 50px;
}
#navbar{
    background-color: #e4e4e4;
    padding: 12px 4px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items:center;
}
#navbar li{
    
    list-style: none;
    padding: 7px 12px;
}

#navbar li a{
    text-decoration: none;
    padding: 12px 30px;
    color: black;
}

#navbar li a:hover{
    color:yellow;
}
#introSection{
    position:relative;
    width: 100%;
    height: 300px;
}
#introSection::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 300px;
    background:url('/static/bg.jpg') no-repeat center center;
    
    opacity: .5;
    z-index: -1;
}
#introSection div.content{
    font-weight: bold;   
    z-index: 1;
    color:black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    height: 300px;
}

#introSection div.small{
    font-size:27px;
}
#sponsorsSection{
    height: 250px;
    background-color: white;
    color:black;
}
#sponsorsSection h2{
    text-align: center;
    padding-top: 12px;
}
#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: auto;
}
.spImage{
    height: 100%;
    margin: 20px;
    padding: 2px 3px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 28%;
    margin: 22px 22px;
    height:150px
}
.card h3{
    text-align: center;
    margin: 12px;
}

.card-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.card-img img{
    height:95px;
}
#ourmissionSection{
height: 250px;
background-color:white;
color:black;
width: 67%;
margin: auto;
}

#ourmissionSection h2{
    text-align: center;
    padding-top: 12px;
}
#footer{
    display:flex;
    height: 50px;
    align-items:center;
    background-color: #e4e4e4;
    color: black; 
    font-size:20px;
}