h1 {
    text-align: center;
    margin: 12px 0;
}
.container{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myForm{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    width: 100%;;
}
.myInput{
    border: 2px solid grey;
    border-radius: 20px;
    font-size: 15px;
    width: 40%;
    margin: 10px;
    padding: 10px;
    outline: none;    
}
.btn{
    padding: 12px 15px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: grey;
    font-weight: bold;
    cursor: pointer;
}